@import "tailwindcss";

/* styles.css */
.message-body::-webkit-scrollbar {
    width: 8px;
}

.message-body::-webkit-scrollbar-track {
    background: #fff;
    border-radius: 10px;
}

.message-body::-webkit-scrollbar-thumb {
    background-color: ;
    border-radius: 10px;
}

.message-body::-webkit-scrollbar-thumb:hover {
    background: #fff;
}